{% extends 'layouts/user-layout.html' %} {% block userLayout %}
<section class="tw-pt-[70px] tw-px-[20px]">
  <div class="tw-max-w-[1280px] tw-py-[50px] tw-mx-auto">
  <h1>About Brainwiz</h1>
  <nav aria-label="breadcrumb" class="tw-mb-[30px]">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">About Us</li>
    </ol>
  </nav>

  <img src="assets/images/about-welcome.png" class="tw-w-[600px] tw-max-w-full tw-float-right tw-ml-[20px] tw-mb-[20px]" />
 <h2>BEST CRT Training Institute in Hyderabad</h2>
<p>BRAINWIZ is one of the leading CRT Institute in South India. It was established in 2015 in Hyderabad to impart quality training for CRT (Campus Recruitment Training) & various competitive Examinations. We have a team of best faculty with respect to different competitive exams in the present world. Teaching methodology is completely unique with the updated content with more logics and helping the students to solve the problems in a very easy way. We have trained huge number of engineering students and helping candidates to move ahead in their career path. This program is exclusively designed for the graduate students preparing them for recruitment of various IT and NON IT companies, and ensuring that the students are well trained and equipped to get through the companies easily.
</p>

<p>This training mainly for all the pre final year and final year students who are looking for placements in their colleges or in any reputation organizations like TCS, Infosys, Accenture, Cognizant, Cap Gemini, Wipro, IBM etc..(i.e. On Campus or off Campus). In CRT students will be trained for all the rounds of Interviews including logical thinking and communication skills. CRT Training at Hyderabad, BRAINWIZ deals with the CRT training having four modules including Aptitude Training, Logical Reasoning, Verbal Ability and Soft Skills. Here students will get training from the very first round written test to final HR round. BRAINWIZ in Hyderabad gives extra focus on AMCAT Training & Elitmus Training which includes Sunday special sessions on different puzzles with Mock online Test series of various MNC Companies.
</p>

<div class="tw-grid tw-items-center tw-grid-cols-12 tw-mb-[30px]">
  <div class="tw-col-span-12 md:tw-col-span-3">
   <h2>Our Strengths</h2>
  </div>

   <div class="tw-col-span-12 md:tw-col-span-9">
     <p>Mission BRAINWIZ has a mission to remain an unbeatable and reputed organization for providing quality coaching for various sectors like CRT, SSC, IBPS, RRB ... Also to generate successful candidates from our Organization like we do every year.</p>

<p>VisionTo train and motivate engineering students and transform them into capable and efficient employees in the TOP MNC and to serve the major It Industries.</p>

<p>Experience Offers total CRT and comprehensive training in Logical Reasoning, Quantitative Aptitude, Verbal sections, which are needed for almost every competitive exams.</p>


   </div>
 </div>

<div class="tw-flex tw-justify-center tw-mb-[20px]">
  <img src="assets/images/pavanimg.jpg" class="tw-max-w-full" />
</div>
 <h3 class="tw-text-center">Pavan Jaiswal</h3>
 <p class="tw-text-center">Director</p>
 <p class="tw-text-center">A CAT aspirant, Mr Pavan Jaiswal is the Managing Director & Founder of BRAINWIZ Education. After completing his Masters in Computer Science, he started working in MADEEASY (GATE exam) and GANESH IAS (for CSAT exam) as an aptitude trainer successfully. Following this in the year 2015, he started BRAINWIZ in order to deliver his training to common students to enter into TOP MNCs by his aptitude training. His unique way of teaching has helped thousands of students to solve the problems in effortless way. Pavan Jaiswal has played a pivotal role in the success of BRAINWIZ and taking it further in the current Education Market with the quality and results.</p>


 <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-mt-[30px]">
  <div>
    <h2 class="tw-m-0 tw-mb-[20px]">Why CRT at BRAINWIZ?</h2>
<ul class="tw-list-none tw-p-0 tw-m-0 tw-mb-[20px      ] tw-flex tw-flex-col tw-gap-[10px]">
  <li>Comprehensive Training on CRT</li>
  <li>More than 90 hours of Training</li>
  <li>30 to 45 days Program</li>
  <li>Covering 35+ Topics with latest MNC Questions</li>
  <li>Sunday Special Sessions covering AMCAT & E-Litmus</li>
  <li>Basic to Advance Level</li>
  <li>Timely Completion of Syllabus</li>
  <li>Updated Material</li>
  <li>Online Test Series</li>
  <li>Individual doubt Solving</li>
</ul>
  </div>
  <div>
    <img src="assets/images/corporateimg.jpg" class="tw-max-w-full" alt="">
  </div>
 </div>
  </div>
  
</section>
<!-- <section>
  <div class="tw-max-w-[1280px] tw-py-[50px] tw-mx-auto">


</div>
</section> -->

{% endblock %}
