{% extends 'layouts/admin-layout.html' %} 
{% block adminLayout %}

<div class="tw-p-[10px] bg-white tw-shadow-[0_0_5px] tw-shadow-black/30 tw-rounded-lg tw-mb-[20px] tw-flex-col md:tw-flex-row tw-hidden md:tw-flex tw-items-center tw-gap-[20px]">
  <img src="assets/images/icons8-training-94.png" class="tw-size-[60px] tw-object-contain tw-hidden md:tw-block" /> 
<div class="tw-flex tw-flex-col tw-text-center md:tw-text-left">
    <span class="tw-text-[20px] tw-font-bold">Live Sessions</span>
  <span class="tw-text-[14px] tw-font-normal tw-text-gray-400">Improve your coding skills</span>
</div>
</div>
 <div class="tw-px-[10px] tw-py-[5px] -tw-mt-[20px] -tw-mx-[20px] bg-white tw-border-0 tw-border-b tw-border-solid tw-border-gray-200 tw-flex md:tw-hidden tw-items-center tw-gap-[10px]">
  <a href="dashboard.html" class="btn btn-icon" ><i class="fa fa-angle-left"></i></a>
<div class="tw-flex tw-flex-col">
    <span class="tw-text-[16px] tw-font-medium">Core Java</span> 
</div>
</div>
<div class="tw-grid tw-grid-cols-12 tw-gap-[20px]">
  <div class="tw-col-span-12 xl:tw-col-span-9">
    <div class="tw-aspect-video tw-flex tw-flex-col tw-justify-center tw-items-center tw-p-[20px] tw-gap-[10px] md:tw-gap-[20px] tw-bg-gray-200 -tw-mx-[20px] md:tw-mx-[0px]  md:tw-shadow-[0_0_5px] md:tw-shadow-black/30 md:tw-rounded-lg" data-layout="timerview">
  <div class="tw-text-xs md:tw-text-xl tw-font-medium tw-text-center tw-flex tw-items-center tw-gap-[0px]  [&_span]:tw-px-[10px] [&_span]:md:tw-px-[15px] [&_span]:tw-border-0 [&_span]:tw-border-r-2 [&_span]:tw-border-solid [&_span]:tw-border-black [&_span]:tw-h-[20px] [&_span]:md:tw-h-[30px] [&_span]:tw-flex [&_span]:tw-items-center [&_span]:tw-block [&_span:last-child]:tw-border-0
  "><span>Start time 18 April,24</span>  <span>7:20 PM</span>   <span>Duration 15 Mins.</span></div>
 <div class="tw-flex-auto tw-flex tw-flex-col tw-items-center tw-justify-center tw-gap-[20px]">
   <div class="tw-text-sm md:tw-text-base tw-font-bold">Live Class Starts In</div>
  <div class="countdown"></div>
  <button class="btn btn-success" data-layout="startlive" onclick="start()"><i class="fa fa-video tw-mr-[10px]"></i>Live Session</button>
  <button class="btn btn-primary tw-hidden" data-layout="joinlive"><i class="fa fa-video tw-mr-[10px]"></i>Join Now</button>
 </div>
</div>
<div class="-tw-mx-[20px] md:-tw-mx-[0px]">
    <div class="ratio ratio-16x9  tw-bg-white md:tw-shadow-[0_0_5px] md:tw-shadow-black/30 md:tw-rounded-lg tw-overflow-hidden tw-hidden"  data-layout="videoview">
      <video width="640" height="360" controls autoplay muted>
        <source src="assets/videos/intro.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
</div>

  
  </div>
  <div class="tw-col-span-12 xl:tw-col-span-3">
    <div class="tw-bg-white tw-shadow-[0_0_5px] tw-shadow-black/30 tw-rounded-lg tw-h-full tw-flex tw-flex-col">
      <div class="tw-flex-none tw-min-h-[50px]  tw-flex tw-items-center tw-gap-[20px] tw-px-[10px] tw-border-0 tw-border-b tw-border-solid tw-border-gray-200">
        <!-- <i class="fa fa-chevron-left tw-mr-[10px]"></i> -->
        <div class="tw-font-bold">Notes</div>
      </div>
      <div class="tw-flex-auto">
        <textarea placeholder="Make a Note" class="tw-w-full tw-h-full tw-border-0 tw-outline-none tw-p-[10px] tw-bg-gray-50/50 focus:tw-bg-gray-100/50"></textarea>
      </div>
      <div class="tw-flex-none tw-min-h-[50px] tw-flex tw-items-center tw-justify-center tw-gap-[10px] tw-p-[10px] tw-shadow-[0_-6px_5px_-3px] tw-shadow-black/10 ">
 
      <button class="btn btn-primary"><i class="fa fa-download tw-mr-[10px]"></i>Download PDF</button>
      </div>
    </div>
  </div>
</div>
<div class="tw-py-[10px] tw-border-0 tw-border-b-2 tw-border-solid tw-border-gray-300 tw-hidden md:tw-block">
  <div class="tw-text-xl tw-font-medium">Core Java</div>
  <div class="tw-text-2xl tw-font-bold">Lesson 1 - Oops Concept</div>
</div>
<!-- <div class="tw-bg-white tw-shadow-[0_0_5px] tw-shadow-black/30 tw-rounded-lg  tw-p-[20px] tw-mt-[20px]">
  <div class="tw-text-xl tw-font-medium tw-mb-[10px]">About Trainer</div>
  <div class="tw-flex-col md:tw-flex-row tw-flex tw-gap-[20px] tw-items-center tw-text-center md:tw-text-left">
      <div class="tw-size-[60px] tw-bg-gray-300 tw-rounded-full tw-bg-cover tw-bg-center tw-bg-[url(assets/images/profile.avif)]" ></div>
      <div class="tw-flex-auto">
        <div class="tw-text-2xl tw-font-semibold">John Doe</div>
        <div class="tw-text-sm tw-text-gray-400">Java Expert  | 7+ Years Experience</div>
      </div>
      <div>
        <div>Rate this Video</div>
       <span class="gl-star-rating">
                        <select id="glsr-prebuilt" class="star-rating-prebuilt">
                            <option value="">Select a rating</option>
                            <option value="5">5 Stars</option>
                            <option value="4">4 Stars</option>
                            <option value="3">3 Stars</option>
                            <option value="2">2 Stars</option>
                            <option value="1">1 Star</option>
                        </select>
                        <span class="gl-star-rating--stars">
                            <span data-value="1" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gl-emote" style="pointer-events: none;"><circle class="gl-emote-bg" fill="#FFA98D" cx="12" cy="12" r="10"></circle><path fill="#393939" d="M12 14.6c1.48 0 2.9.38 4.15 1.1a.8.8 0 01-.79 1.39 6.76 6.76 0 00-6.72 0 .8.8 0 11-.8-1.4A8.36 8.36 0 0112 14.6zm4.6-6.25a1.62 1.62 0 01.58 1.51 1.6 1.6 0 11-2.92-1.13c.2-.04.25-.05.45-.08.21-.04.76-.11 1.12-.18.37-.07.46-.08.77-.12zm-9.2 0c.31.04.4.05.77.12.36.07.9.14 1.12.18.2.03.24.04.45.08a1.6 1.6 0 11-2.34-.38z"></path></svg></span>
                            <span data-value="2" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gl-emote" style="pointer-events: none;"><circle class="gl-emote-bg" fill="#FFC385" cx="12" cy="12" r="10"></circle><path fill="#393939" d="M12 14.8c1.48 0 3.08.28 3.97.75a.8.8 0 11-.74 1.41A8.28 8.28 0 0012 16.4a9.7 9.7 0 00-3.33.61.8.8 0 11-.54-1.5c1.35-.48 2.56-.71 3.87-.71zM15.7 8c.25.31.28.34.51.64.24.3.25.3.43.52.18.23.27.33.56.7A1.6 1.6 0 1115.7 8zM8.32 8a1.6 1.6 0 011.21 2.73 1.6 1.6 0 01-2.7-.87c.28-.37.37-.47.55-.7.18-.22.2-.23.43-.52.23-.3.26-.33.51-.64z"></path></svg></span>
                            <span data-value="3" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gl-emote" style="pointer-events: none;"><circle class="gl-emote-bg" fill="#FFD885" cx="12" cy="12" r="10"></circle><path fill="#393939" d="M15.33 15.2a.8.8 0 01.7.66.85.85 0 01-.68.94h-6.2c-.24 0-.67-.26-.76-.7-.1-.38.17-.81.6-.9zm.35-7.2a1.6 1.6 0 011.5 1.86A1.6 1.6 0 1115.68 8zM8.32 8a1.6 1.6 0 011.21 2.73A1.6 1.6 0 118.33 8z"></path></svg></span>
                            <span data-value="4" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gl-emote" style="pointer-events: none;"><circle class="gl-emote-bg" fill="#FFD885" cx="12" cy="12" r="10"></circle><path fill="#393939" d="M15.45 15.06a.8.8 0 11.8 1.38 8.36 8.36 0 01-8.5 0 .8.8 0 11.8-1.38 6.76 6.76 0 006.9 0zM15.68 8a1.6 1.6 0 011.5 1.86A1.6 1.6 0 1115.68 8zM8.32 8a1.6 1.6 0 011.21 2.73A1.6 1.6 0 118.33 8z"></path></svg></span>
                            <span data-value="5" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gl-emote" style="pointer-events: none;"><circle class="gl-emote-bg" fill="#FFD885" cx="12" cy="12" r="10"></circle><path fill="#393939" d="M16.8 14.4c.32 0 .59.2.72.45.12.25.11.56-.08.82a6.78 6.78 0 01-10.88 0 .78.78 0 01-.05-.87c.14-.23.37-.4.7-.4zM15.67 8a1.6 1.6 0 011.5 1.86A1.6 1.6 0 1115.68 8zM8.32 8a1.6 1.6 0 011.21 2.73A1.6 1.6 0 118.33 8z"></path></svg></span>
                        </span>
                    </span>
      </div>
  </div>
</div> -->
<div class="tw-pb-[5px] tw-border-0 tw-border-b tw-border-solid tw-border-gray-300 tw-mt-[20px]">
  <div class="tw-text-xl tw-font-medium">My Courses</div> 
</div>
<div class="tw-grid tw-grid-cols-12 tw-gap-[20px] lg:tw-gap-[30px] tw-mt-[20px]">
  <!-- loop starts here -->
  {% for test in data %}
  <div class="tw-col-span-12 md:tw-col-span-6 xl:tw-col-span-3 tw-bg-white tw-rounded-[10px] tw-p-[10px] tw-shadow-[0_0_5px] tw-shadow-black/30 tw-flex tw-flex-col tw-gap-[10px] tw-cursor-pointer tw-transition-all tw-duration-300 tw-ease-out hover:tw-scale-[1.05] hover:tw-shadow-[0_0_5px] tw-shadow-black/30-lg">
    <img src="assets/images/{{ test.image }}" class="tw-max-w-full tw-rounded-[10px] tw-border tw-border-solid tw-border-gray-300" />
    <div class="tw-flex tw-flex-col">
      <div class="tw-font-bold tw-text-[20px] tw-text-center">{{test.title}}</div>
    </div>
    <a href="live-sessions-series.html" class="btn btn-outline-primary tw-self-center">View Series</a>
  </div>
  {% endfor %}
   <!-- loop ends here -->
</div>
{% endblock %}
{% block scriptBlock %}
<script>
    let startlive = document.querySelector('[data-layout="startlive"]')
  let joinlive = document.querySelector('[data-layout="joinlive"]')
  let timerview = document.querySelector('[data-layout="timerview"]')
  let videoview = document.querySelector('[data-layout="videoview"]')

 
  let timerEle = document.querySelector(".countdown");
  const end = new Date(Date.now() + 10000);
  const interval = setInterval(() => {
    const remaining = countdown(new Date(), end);
    timerEle.innerHTML = `
<ul>
  <li>
    <span>${remaining.days}</span>
    <span>Days</span>
  </li>
  <li>
    <span>${remaining.hours}</span>
    <span>Hrs</span>
  </li>
  <li>
    <span>${remaining.minutes}</span>
    <span>Mins</span>
  </li>
  <li>
    <span>${remaining.seconds}</span>
    <span>Secs</span>
  </li>
</ul>
`
    if (Date.now() >= end.getTime()) {
      clearInterval(interval);
      startlive.classList.add("tw-hidden")
      joinlive.classList.remove("tw-hidden")
    }
  }, 1000);
  var starratingPrebuilt = new StarRating('.star-rating-prebuilt', {
    prebuilt: true,
    maxStars: 5,
  });

  joinlive.addEventListener("click",()=>{
    timerview.classList.add("tw-hidden")
    videoview.classList.remove("tw-hidden")
  })


  function start(){
  Swal.fire({ 
 
    html:"<div class='tw-font-semibold'>Live Session has not Started</div><div class='tw-text-primary'>Please Wait</div>",
    icon: "warning",
    confirmButtonColor: "var(--primary)",
 
  });
}
 

</script>
<style>
 @media (max-width:480px) {
   [data-layout="header"]{
    display: none !important;
  }
  [data-layout="admin"]{
    padding-top: 0px !important;
  }
 }
</style>
      {% endblock %}