{% extends 'layouts/admin-layout.html' %} 
{% block adminLayout %}
 


<div class="tw-p-[10px] bg-white tw-shadow-[0_0_5px] tw-shadow-black/30 tw-rounded-[10px] tw-mb-[20px] tw-flex-col md:tw-flex-row tw-flex tw-items-center tw-gap-[20px]">
  <img src="assets/images/icons8-training-94.png" class="tw-size-[60px] tw-object-contain tw-hidden md:tw-block" /> 
<div class="tw-flex tw-flex-col tw-text-center md:tw-text-left">
    <span class="tw-text-[20px] tw-font-bold">Live Sessions</span>
  <span class="tw-text-[14px] tw-font-normal tw-text-gray-400">Improve your coding skills</span>
</div>
 
</div>{% endblock %}