{% extends 'layouts/admin-layout.html' %}
{% block adminLayout %}
<div
  class="tw-p-[10px] bg-white tw-shadow-[0_0_5px] tw-shadow-black/30 tw-rounded-lg tw-mb-[20px] tw-flex-col md:tw-flex-row tw-hidden md:tw-flex  tw-items-center tw-gap-[20px]">
  <img src="assets/images/icons8-java-96.png" class="tw-size-[60px] tw-object-contain tw-hidden md:tw-block" />
  <div class="tw-flex tw-flex-col tw-text-center md:tw-text-left">
    <span class="tw-text-[20px] tw-font-bold">Core Java</span>
    <span class="tw-text-[14px] tw-font-normal tw-text-gray-400">Improve your coding skills</span>
  </div>
</div>
 <div class="tw-px-[10px] tw-py-[5px] -tw-mt-[20px] -tw-mx-[20px] bg-white tw-border-0 tw-border-b tw-border-solid tw-border-gray-200 tw-flex md:tw-hidden tw-items-center tw-gap-[10px]">
   <button type="button" class="btn btn-icon"><i class="fa fa-angle-left"></i></button>
<div class="tw-flex tw-flex-col">
    <span class="tw-text-[16px] tw-font-medium">Core Java</span> 
</div>
</div>
<div class="tw-grid tw-grid-cols-12 tw-gap-[20px]">
 <div class="tw-col-span-12 xl:tw-col-span-9 -tw-mx-[20px] md:tw-mx-[0px]">
    <iframe class="tw-aspect-video  tw-border-0 tw-block tw-w-full  tw-bg-white md:tw-shadow-[0_0_5px] md:tw-shadow-black/30 md:tw-rounded-lg tw-overflow-y-auto" src="assets/pdf.pdf" >
    
    </iframe>
  </div>
  <div class="tw-col-span-12 xl:tw-col-span-3">
    <div class="tw-bg-white tw-shadow-[0_0_5px] tw-shadow-black/30 tw-rounded-lg tw-h-full tw-overflow-hidden tw-flex tw-flex-col">
      <div
        class="tw-flex-none tw-min-h-[50px]  tw-flex tw-items-center tw-gap-[20px] tw-px-[10px] tw-border-0 tw-border-b tw-border-solid tw-border-gray-200">
        <!-- <i class="fa fa-chevron-left tw-mr-[10px]"></i> -->
        <div class="tw-font-bold">Syllabus</div>
      </div>
            <div class="tw-flex-none tw-p-[10px]">
  <div class="bw-search tw-min-w-full">
    <input type="text" placeholder="Search">
    <button type="button"><i class="fa fa-search"></i></button>
  </div>
        </div>
      <div class="tw-flex-auto tw-min-h-[0px] tw-max-h-[480px] tw-overflow-y-auto">
      <div class="accordion accordion-flush" id="videoattachments">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                <div>01</div>
                <div>
                  <div class="tw-font-medium tw-mb-[3px]">Demo Class</div>
                  <div class="tw-text-sm tw-text-gray-400">5 Lessons | 2 Attachments</div>
                </div>
               
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#videoattachments">
              <div class="accordion-body tw-p-0">
                <div class="list-group list-group-flush">
                  <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-video tw-mt-[5px] tw-opacity-50"></i>
                    <div>
                        <div class="tw-font-medium tw-mb-[3px]">Data Types</div>
                    <div class="tw-text-sm tw-text-gray-400">Video • 1h 49m 49s <a class="tw-no-underline" href="#">Attachment</a></div>
                    </div>
                  </div>
              <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-video tw-mt-[5px] tw-opacity-50"></i>
                    <div>

                      <div class="tw-font-medium tw-mb-[3px]">What are Variables?</div>
                      <div class="tw-text-sm tw-text-gray-400">Video • 1h 49m 49s <a class="tw-no-underline" href="#">Attachment</a></div>
                    </div>
                  </div>
                <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-file tw-mt-[5px] tw-opacity-50"></i>
                    <div>

                      <div class="tw-font-medium tw-mb-[3px]">What are Literals?</div>
                      <div class="tw-text-sm tw-text-gray-400">PDF • 1h 49m 49s <a class="tw-no-underline" href="live-sessions-pdf.html">Attachment</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <div>02</div>
                <div>
                  <div class="tw-font-medium tw-mb-[3px]">Setup Java Environment</div>
                  <div class="tw-text-sm tw-text-gray-400">5 Lessons | 2 Attachments</div>
                </div>
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#videoattachments">
                <div class="accordion-body tw-p-0">
                   <div class="list-group list-group-flush">
                  <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-video tw-mt-[5px] tw-opacity-50"></i>
                    <div>
                        <div class="tw-font-medium tw-mb-[3px]">Data Types</div>
                    <div class="tw-text-sm tw-text-gray-400">Video • 1h 49m 49s <a class="tw-no-underline" href="#">Attachment</a></div>
                    </div>
                  </div>
              <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-video tw-mt-[5px] tw-opacity-50"></i>
                    <div>

                      <div class="tw-font-medium tw-mb-[3px]">What are Variables?</div>
                      <div class="tw-text-sm tw-text-gray-400">Video • 1h 49m 49s <a class="tw-no-underline" href="#">Attachment</a></div>
                    </div>
                  </div>
                <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-file tw-mt-[5px] tw-opacity-50"></i>
                    <div>

                      <div class="tw-font-medium tw-mb-[3px]">What are Literals?</div>
                      <div class="tw-text-sm tw-text-gray-400">PDF • 1h 49m 49s <a class="tw-no-underline" href="live-sessions-pdf.html">Attachment</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <div>03</div>
                <div>
                  <div class="tw-font-medium tw-mb-[3px]">Conditional Statements</div>
                  <div class="tw-text-sm tw-text-gray-400">5 Lessons | 2 Attachments</div>
                </div>
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#videoattachments">
              <div class="accordion-body tw-p-0">
                   <div class="list-group list-group-flush">
                  <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-video tw-mt-[5px] tw-opacity-50"></i>
                    <div>
                        <div class="tw-font-medium tw-mb-[3px]">Data Types</div>
                    <div class="tw-text-sm tw-text-gray-400">Video • 1h 49m 49s <a class="tw-no-underline" href="#">Attachment</a></div>
                    </div>
                  </div>
              <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-video tw-mt-[5px] tw-opacity-50"></i>
                    <div>

                      <div class="tw-font-medium tw-mb-[3px]">What are Variables?</div>
                      <div class="tw-text-sm tw-text-gray-400">Video • 1h 49m 49s <a class="tw-no-underline" href="#">Attachment</a></div>
                    </div>
                  </div>
                <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-file tw-mt-[5px] tw-opacity-50"></i>
                    <div>

                      <div class="tw-font-medium tw-mb-[3px]">What are Literals?</div>
                      <div class="tw-text-sm tw-text-gray-400">PDF • 1h 49m 49s <a class="tw-no-underline" href="live-sessions-pdf.html">Attachment</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
              <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <div>04</div>
                <div>
                  <div class="tw-font-medium tw-mb-[3px]">String Class and Printing</div>
                  <div class="tw-text-sm tw-text-gray-400">5 Lessons | 2 Attachments</div>
                </div>
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#videoattachments">
              <div class="accordion-body tw-p-0">
                    <div class="list-group list-group-flush">
                  <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-video tw-mt-[5px] tw-opacity-50"></i>
                    <div>
                        <div class="tw-font-medium tw-mb-[3px]">Data Types</div>
                    <div class="tw-text-sm tw-text-gray-400">Video • 1h 49m 49s <a class="tw-no-underline" href="#">Attachment</a></div>
                    </div>
                  </div>
              <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-video tw-mt-[5px] tw-opacity-50"></i>
                    <div>

                      <div class="tw-font-medium tw-mb-[3px]">What are Variables?</div>
                      <div class="tw-text-sm tw-text-gray-400">Video • 1h 49m 49s <a class="tw-no-underline" href="#">Attachment</a></div>
                    </div>
                  </div>
                <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-file tw-mt-[5px] tw-opacity-50"></i>
                    <div>

                      <div class="tw-font-medium tw-mb-[3px]">What are Literals?</div>
                      <div class="tw-text-sm tw-text-gray-400">PDF • 1h 49m 49s <a class="tw-no-underline" href="live-sessions-pdf.html">Attachment</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
              <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <div>05</div>
                <div>
                  <div class="tw-font-medium tw-mb-[3px]">Loops</div>
                  <div class="tw-text-sm tw-text-gray-400">5 Lessons | 2 Attachments</div>
                </div>
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#videoattachments">
              <div class="accordion-body tw-p-0">
                   <div class="list-group list-group-flush">
                  <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-video tw-mt-[5px] tw-opacity-50"></i>
                    <div>
                        <div class="tw-font-medium tw-mb-[3px]">Data Types</div>
                    <div class="tw-text-sm tw-text-gray-400">Video • 1h 49m 49s <a class="tw-no-underline" href="#">Attachment</a></div>
                    </div>
                  </div>
              <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-video tw-mt-[5px] tw-opacity-50"></i>
                    <div>

                      <div class="tw-font-medium tw-mb-[3px]">What are Variables?</div>
                      <div class="tw-text-sm tw-text-gray-400">Video • 1h 49m 49s <a class="tw-no-underline" href="#">Attachment</a></div>
                    </div>
                  </div>
                <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-file tw-mt-[5px] tw-opacity-50"></i>
                    <div>

                      <div class="tw-font-medium tw-mb-[3px]">What are Literals?</div>
                      <div class="tw-text-sm tw-text-gray-400">PDF • 1h 49m 49s <a class="tw-no-underline" href="live-sessions-pdf.html">Attachment</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
              <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                <div>06</div>
                <div>
                  <div class="tw-font-medium tw-mb-[3px]">Arrays</div>
                  <div class="tw-text-sm tw-text-gray-400">5 Lessons | 2 Attachments</div>
                </div>
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#videoattachments">
              <div class="accordion-body tw-p-0">
                   <div class="list-group list-group-flush">
                  <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-video tw-mt-[5px] tw-opacity-50"></i>
                    <div>
                        <div class="tw-font-medium tw-mb-[3px]">Data Types</div>
                    <div class="tw-text-sm tw-text-gray-400">Video • 1h 49m 49s <a class="tw-no-underline" href="#">Attachment</a></div>
                    </div>
                  </div>
              <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-video tw-mt-[5px] tw-opacity-50"></i>
                    <div>

                      <div class="tw-font-medium tw-mb-[3px]">What are Variables?</div>
                      <div class="tw-text-sm tw-text-gray-400">Video • 1h 49m 49s <a class="tw-no-underline" href="#">Attachment</a></div>
                    </div>
                  </div>
                <div class="list-group-item tw-flex tw-gap-[10px] tw-py-[10px]">
                    <i class="fa fa-file tw-mt-[5px] tw-opacity-50"></i>
                    <div>

                      <div class="tw-font-medium tw-mb-[3px]">What are Literals?</div>
                      <div class="tw-text-sm tw-text-gray-400">PDF • 1h 49m 49s <a class="tw-no-underline" href="live-sessions-pdf.html">Attachment</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="tw-py-[10px] tw-border-0 tw-border-b-2 tw-border-solid tw-border-gray-300 tw-hidden md:tw-block">
  <div class="tw-text-xl tw-font-medium">Core Java</div>
  <div class="tw-text-2xl tw-font-bold">Lesson 1 - Oops Concept</div>
</div>
 <div class="tw-bg-white tw-shadow-[0_0_5px] tw-shadow-black/30 tw-rounded-lg  tw-p-[20px] tw-mt-[20px]">
  <div class="tw-text-xl tw-font-medium tw-mb-[10px]">About Trainer</div>
  <div class="tw-flex-col md:tw-flex-row tw-flex tw-gap-[20px] tw-items-center tw-text-center md:tw-text-left">
      <div class="tw-size-[60px] tw-bg-gray-300 tw-rounded-full tw-bg-cover tw-bg-center tw-bg-[url(assets/images/profile.avif)]" ></div>
      <div class="tw-flex-auto">
        <div class="tw-text-2xl tw-font-semibold">John Doe</div>
        <div class="tw-text-sm tw-text-gray-400">Java Expert  | 7+ Years Experience</div>
      </div>
      <div>
        <div>Rate this Video</div>
       <span class="gl-star-rating">
                        <select id="glsr-prebuilt" class="star-rating-prebuilt">
                            <option value="">Select a rating</option>
                            <option value="5">5 Stars</option>
                            <option value="4">4 Stars</option>
                            <option value="3">3 Stars</option>
                            <option value="2">2 Stars</option>
                            <option value="1">1 Star</option>
                        </select>
                        <span class="gl-star-rating--stars">
                            <span data-value="1" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gl-emote" style="pointer-events: none;"><circle class="gl-emote-bg" fill="#FFA98D" cx="12" cy="12" r="10"></circle><path fill="#393939" d="M12 14.6c1.48 0 2.9.38 4.15 1.1a.8.8 0 01-.79 1.39 6.76 6.76 0 00-6.72 0 .8.8 0 11-.8-1.4A8.36 8.36 0 0112 14.6zm4.6-6.25a1.62 1.62 0 01.58 1.51 1.6 1.6 0 11-2.92-1.13c.2-.04.25-.05.45-.08.21-.04.76-.11 1.12-.18.37-.07.46-.08.77-.12zm-9.2 0c.31.04.4.05.77.12.36.07.9.14 1.12.18.2.03.24.04.45.08a1.6 1.6 0 11-2.34-.38z"></path></svg></span>
                            <span data-value="2" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gl-emote" style="pointer-events: none;"><circle class="gl-emote-bg" fill="#FFC385" cx="12" cy="12" r="10"></circle><path fill="#393939" d="M12 14.8c1.48 0 3.08.28 3.97.75a.8.8 0 11-.74 1.41A8.28 8.28 0 0012 16.4a9.7 9.7 0 00-3.33.61.8.8 0 11-.54-1.5c1.35-.48 2.56-.71 3.87-.71zM15.7 8c.25.31.28.34.51.64.24.3.25.3.43.52.18.23.27.33.56.7A1.6 1.6 0 1115.7 8zM8.32 8a1.6 1.6 0 011.21 2.73 1.6 1.6 0 01-2.7-.87c.28-.37.37-.47.55-.7.18-.22.2-.23.43-.52.23-.3.26-.33.51-.64z"></path></svg></span>
                            <span data-value="3" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gl-emote" style="pointer-events: none;"><circle class="gl-emote-bg" fill="#FFD885" cx="12" cy="12" r="10"></circle><path fill="#393939" d="M15.33 15.2a.8.8 0 01.7.66.85.85 0 01-.68.94h-6.2c-.24 0-.67-.26-.76-.7-.1-.38.17-.81.6-.9zm.35-7.2a1.6 1.6 0 011.5 1.86A1.6 1.6 0 1115.68 8zM8.32 8a1.6 1.6 0 011.21 2.73A1.6 1.6 0 118.33 8z"></path></svg></span>
                            <span data-value="4" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gl-emote" style="pointer-events: none;"><circle class="gl-emote-bg" fill="#FFD885" cx="12" cy="12" r="10"></circle><path fill="#393939" d="M15.45 15.06a.8.8 0 11.8 1.38 8.36 8.36 0 01-8.5 0 .8.8 0 11.8-1.38 6.76 6.76 0 006.9 0zM15.68 8a1.6 1.6 0 011.5 1.86A1.6 1.6 0 1115.68 8zM8.32 8a1.6 1.6 0 011.21 2.73A1.6 1.6 0 118.33 8z"></path></svg></span>
                            <span data-value="5" class=""><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="gl-emote" style="pointer-events: none;"><circle class="gl-emote-bg" fill="#FFD885" cx="12" cy="12" r="10"></circle><path fill="#393939" d="M16.8 14.4c.32 0 .59.2.72.45.12.25.11.56-.08.82a6.78 6.78 0 01-10.88 0 .78.78 0 01-.05-.87c.14-.23.37-.4.7-.4zM15.67 8a1.6 1.6 0 011.5 1.86A1.6 1.6 0 1115.68 8zM8.32 8a1.6 1.6 0 011.21 2.73A1.6 1.6 0 118.33 8z"></path></svg></span>
                        </span>
                    </span>
      </div>
  </div>
</div>
 
{% endblock %}
{% block scriptBlock %}
<script>
  var starratingPrebuilt = new StarRating('.star-rating-prebuilt', {
    prebuilt: true,
    maxStars: 5,
  });
</script>
<style>
 @media (max-width:480px) {
   [data-layout="header"]{
    display: none !important;
  }
  [data-layout="admin"]{
    padding-top: 0px !important;
  }
 }
</style>
{% endblock %}