{% extends 'layouts/auth-layout.html' %} {% block authLayout %}
<div class="tw-text-[30px] tw-font-bold tw-mb-[3px]" data-aos="fade-up" data-aos-delay="50">Welcome to Back! 👋</div>
<div class="tw-text-[14px] tw-font-normal tw-mb-[20px] tw-text-gray-400" data-aos="fade-up" data-aos-delay="100">Please sign in to your account and start the adventure</div>
<div class="floating-label tw-mb-[20px]" data-aos="fade-up" data-aos-delay="150">
  <input type="email" class="form-control" id="username" placeholder=" " />
  <label for="username">Username</label>
</div>
<div class="floating-label tw-mb-[20px]" data-aos="fade-up" data-aos-delay="200">
  <input type="password" class="form-control" id="password" placeholder=" " />
  <label for="password">Password</label>
</div>
<div class="tw-flex tw-flex-col tw-gap-[10px]">
  <a href="forgot-password.html" class="btn btn-link tw-w-full" data-aos="fade-up" data-aos-delay="250">Forgot Your Password?</a>
  <a data-bs-toggle="modal" data-bs-target="#otpmodal" class="btn btn-primary tw-w-full" data-aos="fade-up" data-aos-delay="300">Sign In</a>
  <a href="register.html" class="btn btn-link tw-w-full" data-aos="fade-up" data-aos-delay="350"><span class="tw-text-gray-500">New on our platform?</span> Sign Up</a>
</div>
{% endblock %}
