{% extends 'layouts/admin-layout.html' %} 
{% block adminLayout %}
<nav aria-label="breadcrumb" class="tw-flex-none">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item">Practice Tests</li>
    <li class="breadcrumb-item active" aria-current="page">Assigned Tests</li>
  </ol>
</nav>
<div class="tw-p-[10px] tw-bg-gradient-to-r tw-from-blue-200 tw-to-gray-200 tw-rounded-[10px] tw-mb-[20px] tw-flex tw-items-center tw-gap-[20px]">
  <img src="assets/images/icons8-education-96.png" class="tw-size-[60px] tw-object-contain" /> 
  <span class="tw-text-[18px] tw-font-medium">Practice Tests to Learn More</span>
</div>
<div class="tw-flex tw-items-center tw-justify-start tw-gap-[20px] tw-mb-[15px]"> 
  <div class="tw-bg-blue-200 tw-text-blue-500 tw-border-0 tw-border-l-[3px] tw-border-solid tw-border-blue-500 tw-text-[18px] tw-font-medium tw-py-[5px] tw-px-[15px]"><i class="fa fa-clipboard tw-mr-[20px]"></i>My Tests</div>
</div>
<div class="tw-grid tw-grid-cols-12 tw-gap-[20px] lg:tw-gap-[30px]">
  <!-- loop starts here -->
  {% for test in data %}
  <div class="tw-col-span-12 md:tw-col-span-6 xl:tw-col-span-4 tw-bg-white tw-rounded-[10px] tw-p-[10px] tw-shadow tw-flex tw-flex-col tw-gap-[10px] tw-cursor-pointer tw-transition-all tw-duration-300 tw-ease-out hover:tw-scale-[1.05] hover:tw-shadow-lg">
    <img src="assets/images/{{ test.image }}" class="tw-max-w-full tw-rounded-[10px] tw-border tw-border-solid tw-border-gray-300" />
    <div class="tw-flex tw-flex-col">
      <div class="tw-font-bold tw-text-[20px] tw-text-center">{{ test.topic }}</div>
      <div class="tw-text-center tw-text-[16px] tw-text-gray-500">{{ test.test_name }}</div>
      <div class="tw-flex tw-justify-center tw-my-[10px]">
        <div class="tw-flex tw-flex-col tw-px-[20px] tw-border-0 tw-border-solid tw-border-r tw-border-gray-300">
          <div class="tw-font-bold tw-text-[18px] tw-text-center">{{ test.no_of_questions }}</div>
          <div class="tw-text-[14px] tw-text-gray-400 tw-text-center">Questions</div>
        </div>
        <div class="tw-flex tw-flex-col tw-px-[20px] tw-border-0 tw-border-solid tw-border-r tw-border-gray-300">
          <div class="tw-font-bold tw-text-[18px] tw-text-center">{{ test.duration }} Mins</div>
          <div class="tw-text-[14px] tw-text-gray-400 tw-text-center">Duration</div>
        </div>
        <div class="tw-flex tw-flex-col tw-px-[20px]">
          <div class="tw-font-bold tw-text-[18px] tw-text-center">5</div>
          <div class="tw-text-[14px] tw-text-gray-400 tw-text-center">Marks</div>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-outline-primary tw-self-center">Start Test</a>
  </div>
  {% if(loop.index == 1) %}
<div class="tw-col-span-12 md:tw-col-span-6 xl:tw-col-span-8">
    <div class="tw-bg-white tw-rounded-[10px] tw-shadow tw-h-full tw-flex tw-flex-col tw-justify-center tw-items-center">
      <img src="assets/images/animation1.gif" class="tw-aspect-[1/1]  md:tw-aspect-[1/1] xl:tw-aspect-[1/.3] tw-w-full tw-h-full tw-object-contain" />
    </div>
</div>
  {% endif %}
  {% endfor %}
   <!-- loop ends here -->
</div>
<nav class="tw-mt-[20px] tw-flex tw-justify-center">
  <ul class="pagination">
    <li class="page-item"><a href="#" class="page-link"><i class="fa fa-chevron-left"></i></a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <a class="page-link" href="#" aria-current="page">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-right"></i></a></li>
  </ul>
</nav>
<div class="tw-flex tw-items-center tw-justify-start tw-gap-[20px] tw-my-[15px]"> 
  <div class="tw-bg-blue-200 tw-text-blue-500 tw-border-0 tw-border-l-[3px] tw-border-solid tw-border-blue-500 tw-text-[18px] tw-font-medium tw-py-[5px] tw-px-[15px]"><i class="fa fa-clipboard tw-mr-[20px]"></i>My Unattempted Tests </div>
</div>
<div class="tw-grid tw-grid-cols-12 tw-gap-[20px] lg:tw-gap-[30px]">
  <!-- loop starts here -->
  {% for test in data %}
  <div class="tw-col-span-12 md:tw-col-span-6 xl:tw-col-span-4 tw-bg-white tw-rounded-[10px] tw-p-[10px] tw-shadow tw-flex tw-flex-col tw-gap-[10px] tw-cursor-pointer tw-transition-all tw-duration-300 tw-ease-out hover:tw-scale-[1.05] hover:tw-shadow-lg">
    <img src="assets/images/{{ test.image }}" class="tw-max-w-full tw-rounded-[10px] tw-border tw-border-solid tw-border-gray-300" />
    <div class="tw-flex tw-flex-col">
      <div class="tw-font-bold tw-text-[20px] tw-text-center">{{ test.topic }}</div>
      <div class="tw-text-center tw-text-[16px] tw-text-gray-500">{{ test.test_name }}</div>
      <div class="tw-flex tw-justify-center tw-my-[10px]">
        <div class="tw-flex tw-flex-col tw-px-[20px] tw-border-0 tw-border-solid tw-border-r tw-border-gray-300">
          <div class="tw-font-bold tw-text-[18px] tw-text-center">{{ test.no_of_questions }}</div>
          <div class="tw-text-[14px] tw-text-gray-400 tw-text-center">Questions</div>
        </div>
        <div class="tw-flex tw-flex-col tw-px-[20px] tw-border-0 tw-border-solid tw-border-r tw-border-gray-300">
          <div class="tw-font-bold tw-text-[18px] tw-text-center">{{ test.duration }} Mins</div>
          <div class="tw-text-[14px] tw-text-gray-400 tw-text-center">Duration</div>
        </div>
        <div class="tw-flex tw-flex-col tw-px-[20px]">
          <div class="tw-font-bold tw-text-[18px] tw-text-center">5</div>
          <div class="tw-text-[14px] tw-text-gray-400 tw-text-center">Marks</div>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-outline-primary tw-self-center">Start Test</a>
  </div>
 
  {% endfor %}
   <!-- loop ends here -->
</div>
<nav class="tw-mt-[20px] tw-flex tw-justify-center">
  <ul class="pagination">
    <li class="page-item"><a href="#" class="page-link"><i class="fa fa-chevron-left"></i></a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <a class="page-link" href="#" aria-current="page">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-right"></i></a></li>
  </ul>
</nav>
{% endblock %}