{% extends 'layouts/admin-layout.html' %} 
{% block adminLayout %}
 
<div class="tw-p-[10px] bg-white tw-shadow tw-rounded-[10px] tw-mb-[20px] tw-flex-col md:tw-flex-row tw-flex tw-items-center tw-gap-[20px]">
  <img src="assets/images/icons8-education-96.png" class="tw-size-[60px] tw-object-contain tw-hidden md:tw-block" /> 
<div class="tw-flex tw-flex-col tw-text-center md:tw-text-left">
    <span class="tw-text-[20px] tw-font-bold">My Practice Tests</span>
  <span class="tw-text-[14px] tw-font-normal tw-text-gray-400">Trach you performance in this course</span>
</div>
<div class="md:tw-ml-auto md:tw-text-[20px] tw-font-medium tw-text-gray-400">
  <span>3/60 Done</span><span class="tw-border-0 tw-border-l-[3px] tw-mx-[10px] tw-border-solid tw-border-gray-300 tw-h-[50px]"></span><span>5% Completed</span>
</div>
</div>


<ul class="nav nav-underline bw-tabs">
  <li class="nav-item">
    <a class="nav-link active" id="practice-tab" data-bs-toggle="tab" data-bs-target="#practice-tab-pane">Practice (16)</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="completed-tab" data-bs-toggle="tab" data-bs-target="#completed-tab-pane">Completed (12)</a>
  </li>
 <div class="md:tw-ml-auto tw-w-full md:tw-w-auto">
  <div class="bw-search">
    <input type="text" placeholder="Search">
    <button type="button"><i class="fa fa-search"></i></button>
  </div>
 </div>
</ul>
<div class="tab-content">

<div class="tab-pane fade show active" id="practice-tab-pane" >
  <div class="tw-grid tw-grid-cols-1 md:tw-grid-cols-2 tw-gap-[20px] lg:tw-gap-[30px] tw-mt-[30px] tw-w-[1000px] tw-max-w-full tw-mx-auto">
  <!-- loop starts here -->
  {% for test in data[:1] %}
  <div class="tw-bg-white tw-rounded-[10px] tw-p-[10px] tw-shadow tw-flex tw-flex-col tw-gap-[10px] tw-cursor-pointer tw-transition-all tw-duration-300 tw-ease-out hover:tw-scale-[1.05] hover:tw-shadow-lg">
    <img src="assets/images/{{ test.image }}" class="tw-max-w-full tw-rounded-[10px] tw-border tw-border-solid tw-border-gray-300" />
    <div class="tw-flex tw-flex-col">
      <div class="tw-font-bold tw-text-[20px] tw-text-center">{{ test.topic }}</div>
      <div class="tw-text-center tw-text-[16px] tw-text-gray-500">{{ test.test_name }}</div>
      <div class="tw-flex tw-justify-center tw-my-[10px]">
        <div class="tw-flex tw-flex-col tw-px-[20px] tw-border-0 tw-border-solid tw-border-r tw-border-gray-300">
          <div class="tw-font-bold tw-text-[18px] tw-text-center">{{ test.no_of_questions }}</div>
          <div class="tw-text-[14px] tw-text-gray-400 tw-text-center">Questions</div>
        </div>
        <div class="tw-flex tw-flex-col tw-px-[20px] tw-border-0 tw-border-solid tw-border-r tw-border-gray-300">
          <div class="tw-font-bold tw-text-[18px] tw-text-center">{{ test.duration }} Mins</div>
          <div class="tw-text-[14px] tw-text-gray-400 tw-text-center">Duration</div>
        </div>
        <div class="tw-flex tw-flex-col tw-px-[20px]">
          <div class="tw-font-bold tw-text-[18px] tw-text-center">5</div>
          <div class="tw-text-[14px] tw-text-gray-400 tw-text-center">Marks</div>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-outline-primary tw-self-center">Start Test</a>
  </div>
   {% endfor %}
<div class="">
    <div class="tw-bg-white tw-rounded-[10px] tw-shadow tw-h-full tw-flex tw-flex-col tw-justify-center tw-items-center">
      <img src="assets/images/animation1.gif" class="tw-aspect-[1/1]  md:tw-aspect-[1/1] xl:tw-aspect-[1/.3] tw-w-full tw-h-full tw-object-contain tw-object-bottom-left" />
    </div>
</div>
 

   <!-- loop ends here -->
</div>
 
<div class="tw-grid tw-grid-cols-12 tw-gap-[20px] lg:tw-gap-[30px] tw-mt-[30px]">
  <!-- loop starts here -->
  {% for test in data %}
  <div class="tw-col-span-12 md:tw-col-span-6 xl:tw-col-span-3 tw-bg-white tw-rounded-[10px] tw-p-[10px] tw-shadow tw-flex tw-flex-col tw-gap-[10px] tw-cursor-pointer tw-transition-all tw-duration-300 tw-ease-out hover:tw-scale-[1.05] hover:tw-shadow-lg">
    <img src="assets/images/{{ test.image }}" class="tw-max-w-full tw-rounded-[10px] tw-border tw-border-solid tw-border-gray-300" />
    <div class="tw-flex tw-flex-col">
      <div class="tw-font-bold tw-text-[20px] tw-text-center">{{ test.topic }}</div>
      <div class="tw-text-center tw-text-[16px] tw-text-gray-500">{{ test.test_name }}</div>
      <div class="tw-flex tw-justify-center tw-my-[10px]">
        <div class="tw-flex tw-flex-col tw-px-[20px] tw-border-0 tw-border-solid tw-border-r tw-border-gray-300">
          <div class="tw-font-bold tw-text-[18px] tw-text-center">{{ test.no_of_questions }}</div>
          <div class="tw-text-[14px] tw-text-gray-400 tw-text-center">Questions</div>
        </div>
        <div class="tw-flex tw-flex-col tw-px-[20px] tw-border-0 tw-border-solid tw-border-r tw-border-gray-300">
          <div class="tw-font-bold tw-text-[18px] tw-text-center">{{ test.duration }} Mins</div>
          <div class="tw-text-[14px] tw-text-gray-400 tw-text-center">Duration</div>
        </div>
        <div class="tw-flex tw-flex-col tw-px-[20px]">
          <div class="tw-font-bold tw-text-[18px] tw-text-center">5</div>
          <div class="tw-text-[14px] tw-text-gray-400 tw-text-center">Marks</div>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-outline-primary tw-self-center">Start Test</a>
  </div>
 
  {% endfor %}
   <!-- loop ends here -->
</div>
<nav class="tw-mt-[20px] tw-flex tw-justify-end">
  <ul class="pagination bw-pagination">
    <li class="page-item"><a href="#" class="page-link"><i class="fa fa-chevron-left"></i></a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <a class="page-link" href="#" aria-current="page">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">...</a></li>
    <li class="page-item"><a class="page-link" href="#">8</a></li>
    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-right"></i></a></li>
  </ul>
</nav>
</div>
  <div class="tab-pane fade" id="completed-tab-pane">
  
 
<div class="tw-grid tw-grid-cols-12 tw-gap-[20px] lg:tw-gap-[30px] tw-mt-[30px]">
  <!-- loop starts here -->
  {% for test in data %}
  <div class="tw-col-span-12 md:tw-col-span-6 xl:tw-col-span-3 tw-bg-white tw-rounded-[10px] tw-p-[10px] tw-shadow tw-flex tw-flex-col tw-gap-[10px] tw-cursor-pointer tw-transition-all tw-duration-300 tw-ease-out hover:tw-scale-[1.05] hover:tw-shadow-lg">
    <img src="assets/images/{{ test.image }}" class="tw-max-w-full tw-rounded-[10px] tw-border tw-border-solid tw-border-gray-300" />
    <div class="tw-flex tw-flex-col">
      <div class="tw-font-bold tw-text-[20px] tw-text-center">{{ test.topic }}</div>
      <div class="tw-text-center tw-text-[16px] tw-text-gray-500">{{ test.test_name }}</div>
      <div class="tw-flex tw-justify-center tw-my-[10px]">
        <div class="tw-flex tw-flex-col tw-px-[20px] tw-border-0 tw-border-solid tw-border-r tw-border-gray-300">
          <div class="tw-font-bold tw-text-[18px] tw-text-center">{{ test.no_of_questions }}</div>
          <div class="tw-text-[14px] tw-text-gray-400 tw-text-center">Questions</div>
        </div>
        <div class="tw-flex tw-flex-col tw-px-[20px] tw-border-0 tw-border-solid tw-border-r tw-border-gray-300">
          <div class="tw-font-bold tw-text-[18px] tw-text-center">{{ test.duration }} Mins</div>
          <div class="tw-text-[14px] tw-text-gray-400 tw-text-center">Duration</div>
        </div>
        <div class="tw-flex tw-flex-col tw-px-[20px]">
          <div class="tw-font-bold tw-text-[18px] tw-text-center">5</div>
          <div class="tw-text-[14px] tw-text-gray-400 tw-text-center">Marks</div>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-outline-primary tw-self-center">View Analysis</a>
  </div>
 
  {% endfor %}
   <!-- loop ends here -->
</div>
<nav class="tw-mt-[20px] tw-flex tw-justify-end">
  <ul class="pagination bw-pagination">
    <li class="page-item"><a href="#" class="page-link"><i class="fa fa-chevron-left"></i></a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item active">
      <a class="page-link" href="#" aria-current="page">2</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">...</a></li>
    <li class="page-item"><a class="page-link" href="#">8</a></li>
    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-chevron-right"></i></a></li>
  </ul>
</nav>
  </div>
  </div>
 

{% endblock %}