{% extends 'layouts/profile-layout.html' %} 
{% block stepLayout %}
<ul class="bw-steper">
  <li><span></span></li>
  <li class="active"><span></span></li>
  <li><span></span></li>
  <li><span></span></li>
</ul>
<div class="tw-grid tw-grid-cols-12 tw-gap-[20px] tw-my-[20px]">
 
 
  <div class="tw-col-span-12 lg:tw-col-span-12 floating-label">
    <input type="email" class="form-control" id="email" placeholder=" " />
    <label for="email">Email</label>
  </div>
 
 
</div>
<hr class="tw-border-gray-400" />
<div class="tw-flex tw-justify-end tw-gap-[10px]">
  <a href="profile.html" class="btn btn-secondary">Back</a>
  <a href="profile-step3.html" class="btn btn-primary">Next</a>
</div>
{% endblock %}