{% extends 'layouts/profile-layout.html' %} 
{% block stepLayout %}
<ul class="bw-steper">
  <li><span></span></li>
  <li><span></span></li>
  <li class="active"><span></span></li>
  <li><span></span></li>
</ul>
<div class="tw-grid tw-grid-cols-12 tw-gap-[20px] tw-my-[20px]">
  
  <div class="tw-col-span-12 floating-label">
    <select class="form-select" id="subject">
      <option selected>Select</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <label for="subject">Subject</label>
  </div>
  <div class="tw-col-span-12 floating-label">
    <input type="text" class="form-control" id="College" placeholder=" " />
    <label for="College">College</label>
  </div>
  <div class="tw-col-span-12 floating-label">
    <input type="text" class="form-control" id="Collegeid" placeholder=" " />
    <label for="Collegeid">College Id</label>
  </div>
  <div class="tw-col-span-12 floating-label">
    <input type="text" class="form-control" id="rollnumber" placeholder=" " />
    <label for="rollnumber">Roll Number</label>
  </div>
</div>
<hr class="tw-border-gray-400" />
<div class="tw-flex tw-justify-end tw-gap-[10px]">
  <a href="profile-step2.html" class="btn btn-secondary">Back</a>
  <a href="profile-step4.html" class="btn btn-primary">Next</a>
</div>
{% endblock %}