{% extends 'layouts/empty-layout.html' %} 
{% block emptyLayout %}
<table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Page</th>
      <!-- <th scope="col">Type</th> -->
      <th scope="col">Link</th>
      <th scope="col">Html</th>
      <th scope="col">React</th>
    </tr>
  </thead>
  <tbody>
  {% for item in data['pages'] %}
  <tr>
    <th scope="row">{{loop.index}}</th>
    <td>{{item.page}}</td>
    <!-- <td>{{item.type}}</td> -->
    <td><a href="{{item.link}}" target="_blank">{{item.link}}</a></td>
    <td class="tw-capitalize">
      {% if(item.html == "completed") %}
      <span class="badge rounded-pill text-bg-success">{{item.html}}</span>
      
      {% elif(item.html == "partial") %}
      <span class="badge rounded-pill text-bg-primary">{{item.html}}</span>
      
      {% else %}
      <span class="badge rounded-pill text-bg-danger">{{item.html}}</span>
      {% endif %}
    </td>
    <td class="tw-capitalize">
      {% if(item.html == "completed") %}
      <span class="badge rounded-pill text-bg-success">{{item.html}}</span>
      
      {% elif(item.html == "partial") %}
      <span class="badge rounded-pill text-bg-primary">{{item.html}}</span>
      
      {% else %}
      <span class="badge rounded-pill text-bg-danger">{{item.html}}</span>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="3"></td>
    <td> {{data['html']}}/{{data['length']}}</td>
    <td> {{data['react']}}/{{data['length']}}</td>
  </tr>
  
  </tbody>
</table>
{% endblock %}